# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs and editors
/.idea/
/*.iml
/*.ipr
/*.iws
.settings/
.project
.classpath
.factorypath

# Temp / Server
/tomcat.8080/
~$*

# OS files
.DS_Store
Thumbs.db
